*, *::before, *::after {
  box-sizing: border-box;
}

body {
	font-family: verdana, sans-serif;
	font-size: 2vw;
	font-weight: 300;
}

#menu {
	width: 100%;
	display: grid;
	grid-template-columns: 10vw auto 5vw auto 5vw auto 10vw;
	justify-items: center;
	padding: 0.6vw;
	background-color: #f1ece8;
	/*	border: 1px solid red;*/
}

header h1 {
font-family: verdana, sans-serif;
font-size: 3vw;
font-weight: 500;
color: gray;
padding: 0vw;
margin: 0;
}

img {
	width: 100%;
	height: auto;
}

p {
	margin: 0;
}

#pflink {
grid-column: 2;
}
#abtmelink {
grid-column: 4;
}
#contactlink {
grid-column: 6;
}

#maingrid {
	width: 100vw;
	height: 150vw;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(40, 1fr);
	background-color:  #b4e8d3;
}

#mainpic {
	grid-area: 1/1/10/20;
/*	padding: 2vw;*/
}

#welcomebox {
	display: flex;
	grid-column: 2/10;
	grid-row: 16/21;
	flex-wrap: nowrap;
	gap: 3vw;
	font-size: 4vw;
	align-items: center;
	padding: 2vw;
	background-color: #b4c4be;
}

#profilepic {
	width: 15vw;
	height: auto;
}

#welcometext {
	
}