*, *::before, *::after {
  box-sizing: border-box;
}

body {
	font-family: verdana, sans-serif;
	font-size: 2vw;
	font-weight: 300;
}

#menu {
	width: 100%;
	display: grid;
	grid-template-columns: 10vw auto 5vw auto 5vw auto 10vw;
	justify-items: center;
	padding: 0.6vw;
	background-color: #f1ece8;
/*	border: 1px solid red;*/
}

header h1 {
font-family: verdana, sans-serif;
font-size: 3vw;
font-weight: 500;
color: gray;
padding: 0vw;
margin: 0;
}

img {
	width: 100%;
	height: auto;
}

p {
	margin: 0;
}

#pflink {
grid-column: 2;
}
#abtmelink {
grid-column: 4;
}
#contactlink {
grid-column: 6;
}

#maingrid {
	width: 100vw;
	height: 150vw;
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	grid-template-rows: repeat(20, 1fr);
	background-color:   #e9f0f7;
}

#mainpic {
	grid-area: 1/1/20/21;
/*	padding: 2vw;*/
}

#welcomebox {
	display: flex;
	grid-column: 3/19;
	grid-row: 16/21;
	flex-wrap: nowrap;
	gap: 3vw;
	font-size: 4vw;
	align-items: center;
	padding: 2vw;
	background-color:  #c8f7c5;
}

#profilepic {
	width: 15vw;
	height: auto;
}

#welcometext {
}

#porthead {
	grid-column: 2/19;
	grid-row: 22/22;
	margin: 0;
	font-size: 4.5vw;
	padding-left: 33vw;
}
/*probably a better way to align it in the center of the span of those columns*/


#exampleabox {
	display: flex;
	grid-column: 5/16;
	grid-row: 23/23;
	flex-wrap: wrap;
}